* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --header-font: 'Berkshire Swash', cursive;
    --skyblue: rgb(67, 151, 190);
    --deepblue: rgb(48, 92, 161);
}

.wrapper {
    background-image: url(./images/background.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0% 20%;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.leftSide {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgba(58, 58, 58, .5);
    backdrop-filter: blur(10px) saturate(100%);


}

.leftBox {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header h1 {
    font-family: var(--header-font);
    font-weight: 400;
    font-size: 5rem;
    margin:0em;
    line-height: .9em;
}

.header p {
    font-size: 1.1rem;
    margin:0em 0em 0em 0em;
}

.formWrapper {
    width: 100%;
    padding:2em 4em;
    background-color: #fff;
    margin:2em 0em;
    color: var(--skyblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrapper h2 {
    margin:0em 0em 1em 0em;
}

.iconWrapper {
    color:var(--deepblue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    justify-content: center;
    align-items: center;
}

.iconWrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconWrapper .material-symbols-outlined {
    font-size: 4rem;
}

.iconWrapper p {
    font-size: .8rem;
    margin:1em 0em 0em 0em;
}

.formWrapper form {
    margin:2em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

form fieldset {
    border:0px;
    width: 100%;
}

form legend {
    font-weight: bold;
}

fieldset > div {
    padding:.5em;
    margin:1em 0em;
    display: flex;
    width: inherit;
    justify-content: space-between;
}

fieldset > div > div {
    display: flex;
    flex-direction: column;
    width: 45%;
    position: relative;
}


form label {
    position: absolute;
    top:25%;
    left:10px;
    color:rgb(209, 209, 209);
    transition: all .2s linear;
}

input:focus {
    outline: none;
}

input:focus + label {
    top:7%;
    font-size: .7rem;
}

.labelSmall {
    top:7%;
    font-size: .7rem; 
}

form input {
    padding:1.3em .5em .5em .5em;
    border-bottom:1px solid rgb(209, 209, 209);
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
}

form span {
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--deepblue);
    position: relative;
    top:-2px;
    transition: all .2s linear;
}

input:focus ~ span {
    width: 100%;
}

.error {
    font-size: .7rem;
    height: 3px;
    color:rgb(181, 17, 17);
}

input[type="text"]:valid ~ .error::after,
input[type="email"]:valid ~ .error::after, 
input[type="tel"]:valid ~ .error::after {
    content:'✔️';
    color:rgb(84, 180, 84);
}
/* 
input[type="tel"]:invalid ~ .error::after {
    content:'invalid phone number';
    color:red;
} */

button {
    width: 100%;
    background-color: var(--deepblue);
    color:#fff;
    padding:1em;
    border:none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 8px #b4b4b4;
}

button:disabled {
    background-color: rgb(133, 146, 167);
    color:rgba(255, 255, 255, .5);
    cursor: default;
}

.login {
    display: block;
    margin:1.2em 0em 0em 0em;
    font-size: .8rem;
}

@media only screen and (max-width:990px) {

    .wrapper {
        justify-content: center;
    }

    .formWrapper form {
        width: 100%;
    }

    .divInput {
        font-size: .6em;
    }
}

@media only screen and (max-width:768px) {

    .leftBox {
        justify-content: flex-end;
    }

    .header {
        margin:.5em 0em 0em 0em;
    }

    .header h1 {
        font-size: 2rem;
    }

    .header p {
        font-size: .55rem;
    }

    .formWrapper {
        padding: 2em 2em;
        margin:2em 0em 0em 0em;
        justify-content: flex-end;
    }

    .iconWrapper {
        width: 100%;
    }

    .error {
        font-size: .5rem;
    }
}

@media only screen and (max-width:650px) {

    .leftSide {
        width: 85vw;
    }

    .iconWrapper .material-symbols-outlined {
        font-size: 2rem;
    }

    form legend {
        font-size: .6rem;
    }
    
    fieldset > div {
        flex-direction: column;
        padding:0em 0em;
        margin:0em 0em;
    }

    fieldset > div > div {
        width: 100%;
        margin:.5em 0em;
    }

    button {
        padding: .5em;
    }
}

